<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DanceSage Lesson</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dancesage.lesson</string>
			</array>
		</dict>
	</array>
	<key>DanceSageAPIBaseURL</key>
	<string>$(DANCE_SAGE_API_BASE_URL)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DanceSage Lesson</string>
			<key>UTTypeIdentifier</key>
			<string>com.dancesage.lesson</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dancesage</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
